
body, html
{
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  background: url('../img/bg.jpg')#131313;
}
::-moz-selection
{
  background: none;
  color: #74BEE1;
}

::selection
{
  background: none;
  color: #74BEE1;
}

.centered
{
  text-align: center;
}

.space
{
  padding: 20px 0;
}

h1
{
  font-size: 46px;
  font-weight: 100;
  text-transform: none;
  line-height: 46px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}
h4{
  font-size: 30px;
  font-weight: 50;
  text-transform: none;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  color:black;
}
a
{
  color: #46484a;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover
{
  color: #181b1e;
}  
	
.button-white
{
  border-radius: 20px;
  color: #333;
  padding: 10px 20px;
  letter-spacing: 2px;
  background: #FFF;
  font-weight: 600;
  border: 3px solid #FFF;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button-white:hover
{
  color: #FFF;
  border: 3px solid #FFF;
  background: none;
}
nav #logo
{
  float: left;
  z-index: 99999;
  position: relative;
  left: 50px;
}
nav
{
  z-index: 999;
  width: 100%;
  height: 80px;
}
#nav
{
  width: 100%;
  position: relative;
  right: 50px;
  list-style: none;
 /* The menu will take the width of its container */
  ;
}
#nav>li>a
{
	/* Layout */
  display: block;
	/* Typography */
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  float: right;
  color: #FFF;
  opacity: 1;
  position: relative;
  padding: 20px 15px;
  text-decoration: none;
}
#nav li:hover a, #nav li .selected
{
  color: rgba(255,255,255,0.60);
}
.cbp-af-header
{
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 80px;
  overflow: hidden;
  -webkit-transition: height 0.6s;
  -moz-transition: height 0.6s;
  transition: height 0.6s;
}

.cbp-af-header #logo img
{
  padding: 40px 20px 0px 0px;
  max-width: 150px;
}

.cbp-af-header #nav a
{
  line-height: 60px;
}

.cbp-af-header #logo,
.cbp-af-header #nav a
{
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

.cbp-af-header .right
{
  border-radius: 20px;
  color: #333;
  margin-top: -100px;
  padding: 3px 13px;
  float: right;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Button Share:hover */

.cbp-af-header .button:hover
{
  color: #FFF;
  border: 3px solid #FFF;
  background: none;
}

.page1
{
  background: url('../img/bg.jpg')#131313;
  background-size: cover;
  height: 100%;
  position: relative;
}

.page1 h1
{
  color: #FFF;
}
.logo-phone {display: none;}

.huge-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 180px;
}
img{
  width:100%;
  height:100%;
}
.box{
     background-color: lightgrey;
    width: 300px;
    border: 25px solid teal;
    padding: 25px;
    margin: 25px;
    align-items: center;
    }
